spring:
  application:
    name: spring-crud
  datasource:
    ##url: jdbc:postgresql://postgres:5432/postgres
    url: jdbc:mysql://localhost:3306/testdb?useSSL=false
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect