server:
  port: 8081
spring:
  application:
    name: spring-crud
  datasource:
      url: jdbc:mysql://${DB_HOST}/${DB_NAME}?useSSL=false
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect